html,body{
	height: 100%;
	width:100%;
}
#wrap{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
           flex-flow: column;
}
.header{
    color: #fff;
      width: 98%;
  margin-left: auto;
  margin-right: auto;
  height:60px;line-height:60px;
  border-bottom: 5px solid #eee;
}
#main{
    -webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
    /*padding: 1em;*/
     width: 98%;
  margin-left: 1%;
  margin-right: auto;
}
#footer{
    width: 100%;
    text-align: center;
      width: 98%;
  margin-left: auto;
  margin-right: auto;height:50px;line-height:46px;border-top: 7px solid #eee;
}
#footer h5{
    color: white;
}
.con{font-size: 28px; text-align: center;}