.header{  height: 50px;line-height: 50px;text-align:center;border-bottom: 1px solid #888;font-family: 微软雅黑;}
.header .back{height:50px;float:left}
.header .title{font-weight: bold;}
.header a{  float: right;
  color: #ddd;
  font-weight: normal;margin-right:20px;}
.loginPanel{margin-top:15px;width:100%}
.loginPanel table{width:96%;margin-left: auto;
  margin-right: auto;}
.loginPanel .row{border: 1px solid #ddd;margin-bottom:15px;}
.loginPanel input{1px solid #ddd;height:100%;width:100%;1px solid #ddd;}
.loginPanel .button{text-align:center;height: 40px;
  background-color: blue;
  line-height: 40px;
  color: white;
  font-size: 12px;
  margin-top:15px;width: 96%;
  margin-left: auto;
  margin-right: auto;}
.row {height:45px;}
.row img{height:24px;margin-top: 6px;margin-left: 8px;}
.row .first{width:75px;}

.middle{margin-left: auto;
  margin-right: auto;color:#bbb;font-size:18px;}
.ewm{  margin-left: auto;
  margin-right: auto;
  display: block;margin-top:15px;}
  
.bottom .item{  display: inline-block;
  width: 85%;
  background-color: #ddd;
  height: 35px;
  line-height: 35px;text-align:center}
.bottom img{width:16px;float:left;margin-top:10px;margin-left:10px;}
body{background-color:white;margin:0px;}
#city{text-decoration: underline;
  color: blue;}
.tips{position:absolute;bottom:0px;line-height:30px;height:30px;text-align:center;width:100%}