.header{  height: 60px;line-height: 60px;text-align:center;border-bottom: 1px solid #888;}
.header .back{height:60px;float:left}
.header .title{font-weight: bold;font-family: 微软雅黑;}
.account{background-image:url('../image/login_info.png');background-repeat:;height:244px;color:white;position:relative;}
.account .user{padding-top:30px;}
.account .tel{padding-top:10px;}
.account .info{margin-left:150px;}

.bottom{margin-top:20px;}
.bottom .item{
  height: 35px;
  line-height: 35px;margin-bottom:20px;display:inline-block;}
.bottom img{width:16px;float:left;margin-top:10px;}

.quit{height: 45px;
  background-color: red;
  color: white;
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;  width: 98%;
  margin-left: auto;
  margin-right: auto;}

#about .action{float:left;}
.tapped{background: cadetblue;}
.menu{font-weight:bold;  width: 90px;
  display: inline-block;
  height: 30px;
  line-height: 30px;}
.compWrap{  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  height: 100px;
  border-top: 1px solid white;}
body{margin:0px;background-color:white}